{% extends '../templates/default.html' %}

{% block css %}
    <link rel="stylesheet" href="/css/chat/chat.css">
{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <div class="row col-xs-12 col-md-8 window">
            <div class="col-xs-12 message-center">
                <ul id="messages">
                </ul>
            </div>
            <form class="form-horizontal">
                <div class="col-xs-10 form-group">
                    <input id="m" autocomplete="off" class="form-control"/>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-default" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/chat/chat.js"></script>
{% endblock %}