.message-center {
    padding:10px 0 10px 0;
    margin: 20px 0 20px 0;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    min-height:200px;
    max-height: 400px;
    overflow-y:auto;
}

.message-center ul {
    list-style: none;
}