.text-xxl {
    line-height: 1;
    font-size:96px;
}

.text-xl {
    line-height: 1;
    font-size: 48px;
}

.text-l {
    line-height: 1;
    font-size:24px;
}

.text-m {
    line-height: 1;
    font-size:16px;
}